<html>
    <head>
        <title>Information</title>
        <link rel="stylesheet" type="text/css" href="../static/Form.css">
    </head>
    <body><center>
        <form id = "dhruvil" method="post" action="/go">
            Name:
            <input type="text" name="name" placeholder="John Doe" ><br><br>
            Job Tittle:
            <input type="text" name="jobtittle" placeholder="CEO" ><br><br>
            Linkedin:
            <input type="url" name="website" placeholder="linkedin.com" ><br><br>
            Email Id:
            <input type="email" name="email" placeholder="joe@gmail.com" ><br><br>
            Contact:
            <input type="number" name="contact" min="0" max="9999999999" ><br><br>
            BirthDate:
            <input type="date" name="bday" max="1998-07-09" min="2017-08-08"><br><br>
            Telephone No.:
            <input type="tel" name="quantity" min="0" max="99999999"><br><br>
            Mobile No.:
            <input type="number" name="quantity" min="0" max="9999999999"><br><br>
            Enter your personel website:
            <input type="url" name="url"><br><br>
            Enter Country
            <select name="country" form="dhruvil">
                <option value="india">india</option>
                <option value="US">USA</option>
                <option value="Afria">Africa</option>
                <option value="Aus">Australia</option>
            </select><br><br>
            Skills:
            <input type="checkbox" name="skill" value="Jacva">Java
            <input type="checkbox" name="skill2" value="CSharp">CSharp
            <input type="checkbox" name="skill3" value="Python">python<br><br>
            Address:
            <textarea placeholder="Alphabet dhdhgjhcg" rows="4" cols="50"></textarea><br><br>
            Gender:
            <input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other
            <br><br>

            <input type = "submit" value = "Submit">
            <input type = "reset" value = "Reset">

        </form>
        </center>
